body {
  background: radial-gradient(circle, rgb(80, 228, 183), rgb(3, 61, 46));
  /* At first, I wanted to use an image for the background but it turns out looking weird.. */
  /* So then I thought about gradient colours, using different green tones */
  font-family: "Inter", sans-serif;
  /* If there's is no Inter as the font, sans-serif would come as the second option */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(199, 249, 255);
  padding-top: 20px;
}

h1 {
  color: rgb(199, 249, 255);
  font-weight: 400;
  font-size: 60px;
  font-family: "Neonderthaw", sans-serif;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 0;
}

main {
  justify-content: center;
  align-items: flex-start; /* aligns the top edges */
  gap: 20px; /* to create space between materials & video */
  margin-top: 10px;
  flex-wrap: wrap; /* allows stacking on smaller screens */
  padding: 10px;
  display: flex;
}

.materials {
  margin: auto;
  text-align: center;
  border: 4px double rgb(199, 249, 255);
  border-radius: 16px;
  padding: 10px;
  max-width: 250px; /* to keep the checklist narrow */
  height: 500px;
  margin-top: 10px;
}

.materials-list {
  list-style: none;
  padding: 0;
  display: grid;
  margin-bottom: 10px;
  gap: 10px; /* row-gap column-gap */
}

.materials-list li {
  background: #0f4034;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.double-border {
  border: 4px double rgb(199, 249, 255);
  border-radius: 16px;
  padding: 10px;
  /* I'll be mainly using double border so that it matches the title/heading */
  flex: 1; /* so it lets video section grow */
  max-width: 700px; /* I want to limit video width */
  margin-top: 10px;
}

section {
  width: 900px;
}

video {
  width: 700px;
  height: auto;
  border-radius: 12px;
}

.main-screen,
.controls {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.main-screen {
  padding: 10px;
  width: auto;
}

#progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: gray;
  border-radius: 30px; /* adding border-radius so it looks neater and rounded */
}

#progress-bar {
  width: 0%;
  height: 100%;
  display: block;
  background-color: rgb(2, 83, 40);
  /* using dark green so that it matches the whole website and to show progress in the video */
  transition: width 0.2s ease;
  border-radius: 30px;
}

#likes {
  font-size: 2rem;
  color: rgb(168, 55, 55);
}

button {
  cursor: pointer;
  padding: 10px;
  font-size: 1.2rem;
  color: black;
  border-radius: 12px;
  background-color: rgba(250, 235, 215, 0.588);
}

button:hover {
  scale: 0.9;
  /* this is to show that the button is being pressed (to make it look more real and nice) */
  background-color: rgba(250, 235, 215, 0.25);
}

.step-list {
  line-height: 1.6;
  padding: 10px;
  width: 1500;
  margin: 10px;
}

.step-buttons {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.double-border-steps {
  border: 4px double rgb(199, 249, 255);
  border-radius: 16px;
  padding: 10px;
  width: 1000px;
}

footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 10px;
  width: 100%;
}
