/* If there's is no Caveat as the font, sans-serif would come as the second option 
Then I'm using black as the background colour so it looks neater*/
body {
  background: black;
  font-family: "Caveat", sans-serif;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #f8f8f8;
  padding-top: 20px;
}

.container {
  position: relative;
  width: 600px;
  height: 600px;
  margin: auto;
  padding: 10px;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-family: "Caprasimo", sans-serif;
  font-size: 3rem;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  font-size: 1.2rem;
}

/* so when you hover an image, your cursor with show pointer instead of the usual arrow */
.hover-img {
  position: absolute;
  display: inline-block;
  width: 200px;
  height: auto;
  cursor: pointer;
}

.hover-img img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.4s ease;
}

/* This is so that the hover image sits directly above the 
default one, where the pointer-events allows clicking the link*/
.hover-img .hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

/* When hovering, swap opacity */
.hover-img:hover .hover {
  opacity: 1;
}

.hover-img:hover .default {
  opacity: 0;
}

/* Positions for circular layout so that it circles the title*/
.top {
  top: 5%;
  left: 40%;
  transform: translateX(-50%, 0);
}

.bottom {
  bottom: 5%;
  left: 20%;
  transform: translateX(-50%, 0);
}

.left {
  top: 30%;
  left: 0;
  transform: translateY(0, -50%);
}

.right {
  top: 40%;
  right: -3%;
  transform: translateY(0, -50%);
}

/* Then I'm adding a hover movement so that it feels more natural*/
.hover-img:hover {
  transform: scale(1.1) translateY(-5px);
}

/* INFORMATION GUIDE */
.table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%px;
  max-width: 1400px;
  height: 600px;
  gap: 5px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 30%;
}

.center {
  text-align: center;
  width: 40%;
}

/* This is for the hover effect of the information */
.info {
  background: rgba(255, 255, 255, 0.096);
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.3s ease;
}

.info:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.15);
}

.info h2 {
  color: #f5e7c6;
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* Styling for the images in the center */
#angklung {
  max-width: 500px;
  align-items: center;
  cursor: pointer;
}

#saron {
  max-width: 500px;
  align-items: center;
  cursor: pointer;
}

#gong {
  max-width: 500px;
  align-items: center;
  cursor: pointer;
}

#tifa {
  max-width: 500px;
  align-items: center;
  cursor: pointer;
}
